@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header {
    margin: 0 auto;
    width: 650px;
}
h1 {
    font-size: 1.5em;
    color: #2c3e50;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
}
fieldset{
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
}
legend {
    font-size: 1.2em;
    color: #2c3e50;
    padding: 0 10px;
}
label, input, button, select, textarea {
    font-family: Roboto;
}
label{
    text-align: right;
    padding-right: 1rem;
    margin-top: 10px;
    font-weight: bold;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    height: 22px;
    vertical-align: bottom;
}
button {
    padding: 10px;
    margin-top: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}
button:hover {
    background-color: #1a242f;
}
footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}
.form-item {
    display: grid;
    align-items: center;
}
.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}
.column2 {
    grid-template-columns: 1fr 2fr;
}