* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #1e272b;
    margin: 0;
    padding: 0;
}

header img {
    width: 100px;
    height: auto;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #b3b1b1;
  background-color: #d0c2e5;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 100px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

/* Styles for the navigation bar */
nav {
   position: absolute;
   right: 12%;
	 text-align: right;
   padding: 20px;
}

.navigation ul {
   display: flex;
	 list-style: none;
}

.navigation  {
	display: flex;
	color: navy;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

/* Main Section */
main {
  padding: 20px;
}

.hero {
   background-color: #f7f8f8;
   margin: 15px 0;
   padding: 20px;
   border: 1px solid #ccc;
}
.hero h1{
    text-align: center;
}

.content{
    display: flex;
    text-align: center;
    padding: 1px;
    margin: 0px 0;
}

.content img{
    width: 150px;
    height: 125px;
}
/* History Section */
.history {
    background-color: #e7e3f3;
    padding: 20px;
    margin: 20px 0;
  }

  .history h2{
    text-align: center;
  }
  
  .history-content {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    top: 50%;
    left: 50%;
    align-items: center;
  }
  
  .text-block {
    width: 20%;
  }
  
  .history-content img {
    justify-content: center;
    width: 120px;
    height: 120px;
  }


/* Adventure Section */
.adventure {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 20px;
  }

  .adventure h2{
    text-align: center;
    padding: 5px;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }
  
  .gallery-item img {
    width: 150px;
    height: 150px;
  }
  
  .gallery-item figcaption {
    text-align: center;
    margin-top: 10px;
  }

  /* Footer */
footer {
  background-color: #d0c2e5;
  padding: 1%;
  text-align: center;
 }

  .sociallinks img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }

