.adventure section img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 200px;
  }
  
  h1,h2{
    display: flex;
    justify-content: left;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 3px 3px 5px #777;
}
  
  .pict {
      text-align: center;
      display: grid;
      grid-template-columns: min-content min-content min-content min-content min-content ;
      max-width: 960px;
  }
  
  .pict h2 {
      grid-column: 1 / 6;
  }
  
  .pict figure{
      margin: 0;
      margin-bottom: 20px;
  }
  
  section img {
      max-width: 190px; 
      height: 150px; 
      margin-left: 1px;
  }
