@import url("https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&dispaly=swap");
body{
    font-family: var(--paragraph=font, pink);
    max-width: 960px;
    padding: 20px;
}
:root{
    --primary-color: #XXXXXX;
    --secondary-color: #XXXXXX;
    --accent1-color: #XXXXXX;
    --accent2-color: #XXXXXX;

    --heading-font: "________", serif;
    --paragraph-font: "_______", serif;

    --nav-background-color: cornflowerblue;
    --nav-link-color: aquamarine;
    --nav-hover-link-color: cornflowerblue;
    --nav-hover-background-color: cornflowerblue;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(heading-font, pink);
    color: var(--primary-color, grey);
}
header{
    padding: 20px;
    background-color: var(--accent1-color, blue);
}
p{
    padding: 25px;
}
nav{
    background-color: var(--nav-background-color, pink);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color, blue);
    text-decoration: none;
    padding:1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color,pink );
}
nav a:hover {
    color: var(--nav-hover-link-color,blue);
    background-color: var(--nav-hover-background-color, grey);
}